{% extends 'base.html' %}

{% load static %}

{% block css %}
<style>
    html, body, content{
        min-height: 100%;
        overflow: auto;
    }
    body{
        background-color: #0e0e0e;
    }
    div{
        overflow: auto;
    }
    #tampung1{
        height: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .gambar{
        max-width: 100%;
        border: 5px solid white;
        border-radius: 12px;
        margin-top: 20px;
    }
    .suara, .gambar{
        margin-bottom: 20px;
    }
    .suara{
        font-size: 25px;
        border: 5px solid #4e89bb;
        padding: 5px 15px;
        border-radius: 12px;
        background-color: inherit;
        color: white;
    }
    .suara:hover{
        background-color: #1f1e1e;
    }
    
    .upload-btn-wrapper {
      margin-top: 30px;
      position: relative;
      overflow: hidden;
      display: inline-block;
      color: white;
      font-size: 20px;
      padding-right: 40px;
      border: 2px solid white;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    #filename{
      margin-left: 10px;
    }
    .btns {
      border: 1px solid white;
      border-radius: 0px;
      background-color: white;
      padding: 8px 20px;
      font-size: 20px;
      font-weight: bold;
    }
    
    .upload-btn-wrapper input[type=file] {
      font-size: 100px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
    }
    
    #kumpul{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    #judul{
        margin-top: 40px;
        margin-bottom: 20px;
        color: white;
        font-weight: bold;
        font-family: 'Arvo', Georgia, Times, serif;
        font-size: 60px;
    }
    @media only screen and (max-width: 420px) {
        .upload-btn-wrapper {
          font-size: 15px;
          padding-right: 10px;
        }
        .btns{
          font-size: 15px;
          padding: 4px 10px;
        }
    }
    @media only screen and (max-width: 320px) {
        .upload-btn-wrapper {
          font-size: 10px;
          padding-right: 4px;
        }
        #filename{
          margin-left: 4px;
        }
    }
</style>
{% endblock %}

{% block content %}

<div class="container" id="tampung1">
    <span id="judul">Image to Sound</span>
    {% if img %}
        <img src="data:image/jpeg;base64,{{ img }}" class="gambar">
        <input onclick='responsiveVoice.speak("{{teks}}", "Indonesian Female", {rate: 0.7});' type='button' value='🔊 Play' 
               class="suara"
        />
    {% endif %}
    <form method="post" enctype="multipart/form-data" id="form-id">
        {% csrf_token %}
        <div class="upload-btn-wrapper">
          <button class="btns">Select file</button>
          <input type="file" name="myfile" id="xx" required/>
          <span id="filename">No file selected...</span> 
        </div>
    </form>
    <button type="button" class="btn btn-primary btn-lg" id="kumpul">Upload</button>
</div>
{% endblock %}

{% block jsLink %}
<script src='https://code.responsivevoice.org/responsivevoice.js'></script>
<script>
    var form = document.getElementById("form-id");

    document.getElementById("kumpul").addEventListener("click", function () {
        if($("#xx").val()==""){ alert("Gambar harus dipilih");}
        else{ form.submit(); }
    });
    $("input[name='myfile']").change(function (e) {
        var $this = $(this);
        $this.next().html($this.val().split('\\').pop());
    });
</script>
{% endblock %}